NODE_ENV=production #if set to development, morgan middleware will log every request
PORT=3000 # if unset, default back to 3000

#optional properties. default shown. comment out by removing # to enable them.

#user agent and accept header that quora will see
#AXIOS_USER_AGENT='axios/0.26.1'
#AXIOS_ACCEPT='application/json, text/plain, */*'