NODE_ENV=production #if set to development, morgan middleware will log every request
PORT=3000 # if unset, defaults back to 3000
CACHE_PERIOD=1h # duration for which static files' cached copies are valid in the browser(eg: 1m, 3600, '2 days'). defaults to 1h

#optional properties. default shown. enable by removing # in front of them.

#user agent and accept header that quora will see
#AXIOS_USER_AGENT='axios/0.26.1'
#AXIOS_ACCEPT='application/json, text/plain, */*'