[Unit]
Description=Frontend for quora

[Service]
PrivateTmp=yes
NoNewPrivileges=true
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictSUIDSGID=true
WorkingDirectory=/opt/quetre/quetre
User=quetre
ExecStart=/usr/bin/pnpm start
RestartSec=5
Restart=always
KillMode=mixed

[Install]
WantedBy=default.target
