//-//////////////////////////////////////////////////////
//-                 INCLUDES/EXTENDS
//-//////////////////////////////////////////////////////
include _formatText
include _metadata
include _utils

//-//////////////////////////////////////////////////////
//-                 MAIN CONTENT
//-//////////////////////////////////////////////////////
mixin addPost(post)
  article.answer
    //- ABOUT AUTHOR
    if post.space
      .answer__metdata-primary.metadata-primary
        p.metadata-primary__heading
          a.answers__link(href=post.space.url)= post.space.name
        +proxifyImg(post.space.image)(class='metadata-primary__image', alt='', aria-hidden='true')
        p.metadata-primary__misc= post.space.description
    else
      .answer__metdata-primary.metadata-primary
        p.metadata-primary__heading
          if post.author.isAnon
            span Anonymous
          else
            a.answers__link(href=post.author.url)= post.author.name
          if post.author.isVerified
            svg.metadata-primary__icon
              title verified
              use(href='/misc/sprite.svg#icon-verified')
        +proxifyImg(post.author.image)(class='metadata-primary__image', alt='', aria-hidden='true')
        p.metadata-primary__misc(aria-label=`${post.author.name}'s credentials`)= post.author.credential || ''

    //- POST HEADING
    if post.title[0].spans[0].text
      .answer__question.heading.heading__tertiary
        +formatText(post.title)

    //- POST CONTENT
    section.answer__text.text__container
      +formatText(post.text)
      //- for quora plus answers. since quora only shows half answer, we gotta warn viewer.
      unless post.isViewable
        p.answer__unviewable
          svg.answer__icon: use(href='/misc/sprite.svg#icon-danger')
          | This is a Quora plus answer and hence full answer is not viewable.

    //- POST METADATA
    section.answer__metadata-secondary.metadata-secondary
      +addMetadataSecondary('clock', 'Answered', post.creationTime, 'date')
      if post.updatedTime
        +addMetadataSecondary('clock-edit', 'Updated', post.updatedTime, 'date')
      +addMetadataSecondary('eye', 'Views', post.numViews)
      +addMetadataSecondary('arrow-up', 'Upvotes', post.numUpvotes)
      +addMetadataSecondary('comments', 'Comments', post.numComments)
      +addMetadataSecondary('share', 'Shares', post.numShares)
