extends base

block content 
  main#main.main.error
    p.error__code= data.statusCode
    p.error__message= data.message

    //- will only apply in dev mode
    if data.stack
      .error__stack-box: pre.error__stack
        code.error__text= data.stack

    p.error__return Go back to the&nbsp;
      a.error__link(href="/") Home Page
      |.
    p.error__return Or view this route&nbsp;
      a.error__link(href="https://www.quora.com" + meta.urlObj.pathname) on Quora
      |.