//-//////////////////////////////////////////////////////
//-                 INCLUDES/EXTENDS
//-//////////////////////////////////////////////////////
extends ../base

//-//////////////////////////////////////////////////////
//-                   MAIN CONTENT
//-//////////////////////////////////////////////////////
block content 
  main#main.main.error
    //- ABOUT ERROR
    p.error__code= data.statusCode
    p.error__message= data.message

    //- ONLY FOR DEV MODE
    if data.stack
      .error__stack-box: pre.error__stack
        code.error__text= data.stack

    //- CHOICES TO USER
    p.error__return Go back to the&nbsp;
      a.error__link(href="/") Home Page
      |.
    p.error__return Or view this route&nbsp;
      a.error__link(href="https://www.quora.com" + meta.urlObj.pathname) on Quora
      |.
    p.error__return You may also try switching instances&nbsp;
      a.error__link(href="https://farside.link/" + "https://www.quora.com" + meta.urlObj.pathname) with Farside
      |.
