//-//////////////////////////////////////////////////////
//-                 INCLUDES/EXTENDS
//-//////////////////////////////////////////////////////
extends ../base

//-//////////////////////////////////////////////////////
//-                   MAIN CONTENT
//-//////////////////////////////////////////////////////
block content 
  main#main.main.privacy 
    h1.heading.heading__primary.privacy__heading-primary Privacy Policy

    //- ONE LINER
    section.privacy__short
      h2.heading.heading__secondary.privacy__heading-secondary The short version
      p.privacy__short-text Quetre doesn't collect any personally identifiable data.

    //- EXPLAINER
    section.faqs.privacy__long
      h2.heading.heading__secondary.privacy__heading-secondary The long version
      .faqs__list
        details.faqs__faq
          summary.faqs__question Data actively collected by Quetre
            svg.faqs__icon: use(href='/misc/sprite.svg#icon-open')
          p.faqs__answer None.
        details.faqs__faq
          summary.faqs__question Data passively collected by Quetre
            svg.faqs__icon: use(href='/misc/sprite.svg#icon-open')
          p.faqs__answer Whenever you hit some error page, an error object is logged to the console on the server. That error object contains the resource url you were trying to access, and the usual stack trace. That's it.
        details.faqs__faq
          summary.faqs__question Data stored locally in your browser
            svg.faqs__icon: use(href='/misc/sprite.svg#icon-open')
          p.faqs__answer A key called 'theme' is stored in local storage provided by your browser to store your theme preference should you override the default theme. To prevent this behaviour, either disable JavaScript or local storage for Quetre.
        details.faqs__faq
          summary.faqs__question Data collected by other services
            svg.faqs__icon: use(href='/misc/sprite.svg#icon-open')
          p.faqs__answer If you're using the official instance (which is deployed on Heroku), Heroku might log your IP to prevent abuse. Also, as Quetre connects to 'cdn.jsdelivr.net' for the mathjax library, this service might log some data. So, follow due precaution. Using a VPN might be a good idea. Or even better, consider hosting your own instance.
