//-//////////////////////////////////////////////////////
//-                   MAIN CONTENT
//-//////////////////////////////////////////////////////
footer.footer(class=`${meta.title ==='About' ? 'footer__about' : ''}`)
  block footer

    //- EXTRA STUFF GOES HERE IF THE PAGE IS ABOUT PAGE

    //- NAVIGATION
    nav.footer__nav-box(aria-label='Primary navigation')
      ul.footer__nav 
        - if (meta.title !=='About') 
          li.footer__nav-item: a.footer__nav-link.footer__link(href="/about") About
        li.footer__nav-item: a.footer__nav-link.footer__link(href="https://github.com/zyachel/quetre") Source Code 
        li.footer__nav-item: a.footer__nav-link.footer__link(href="/privacy") Privacy
        li.footer__nav-item: a.footer__nav-link.footer__link(href="#") Back to top 

    //- LICENSE
    em.footer__license Quetre does not host any content. All content is from Quora. Quora is a tradmark of Quora Inc.